SUPABASE_URL = "https://ccsrxvwaxkdbphesyies.supabase.co";
SUPABASE_ANON_KEY = "sb_publishable_SqgQjncAuFW7c5buXtpdsw_oWUuez1z"; // ta clé ANON

RATE_LIMIT = 100
SESSION_SECRET = 

NODE_ENV = development