/* --- GLOBAL --- */
body {
    background-color: black;
    padding: 10px;
    padding-top: 10px;
    
}

/* --- HEADER / TITRE --- */
.a-prp {
    max-width: 500px;
 background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 10px;
    margin-top: 12px;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: white;
}

/* --- CONTENU --- */
.a-prp1 {
   background: linear-gradient(0deg, rgb(114, 184, 193) 0%, rgb(255, 255, 255) 100%);
   padding: 10px;
   border-radius: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width : 768px) {
    .a-prp {
    max-width: 768px;
 background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 10px;
    margin-top: 12px;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: white;
}

/* --- CONTENU --- */
.a-prp1 {
   background: linear-gradient(0deg, rgb(114, 184, 193) 0%, rgb(255, 255, 255) 100%);
   padding: 10px;
   border-radius: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}