.container7 {
    margin-left: 253.5px ;
    border-radius: 18px;
    padding: 25.5px;
    width: 80% 15%;
    background: #FFFF;
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(159, 192, 201, 1) 100%);
    font-size: large;
    height: 442px;
    margin-bottom: -42.5%;
    animation: slideIn1 3.5s ease-in-out;
    padding-bottom: -190.1%;
    overflow-x: auto;
    text-align: left;
    display: flex;
}