.contente{
     margin-left: 0px ;
    border-radius: 9px;
    padding: 25.5px;
    width: 80% 15%;
    background: #FFFF;
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgb(155, 190, 170) 100%);
    font-size: 23px;
    height: 400px;
    margin-bottom: -40%;
    animation: slideIn1 3.5s ease-in-out;
    padding-bottom: -190.1%;
    overflow-x: auto;
    text-align: center;
    display: flex;
    position: static;
    z-index: 999;
}