
@media (max-width: 1527px) and (min-width: 769px) {
*{ box-sizing: border-box;
 }

.btn-acceuil { 
    padding: 10px; 
    font-size: 1600px; 
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 300px;
    background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 15px;
    color: rgb(203, 203, 203);
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 1.5s ease-in-out;
  
}
*{ box-sizing: border-box;}
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    z-index: 1000;
}
.dropdown-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 15px;
    width: 20% 5%;
    padding: 9.5px 69px;
    color: rgb(203, 203, 203);
    position: fixed;
    text-align: left;
    font-size: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slideIn 1.5s ease-in-out;
    margin-left: 949px;
    height: 90px;
    margin-top: 0;
    transition: margin-left 0.9s ease;
    top: 80px;
    }
}
@media (max-width: 768px) and (min-width: 0px) {
*{ box-sizing: border-box;
 }
 body { 
    overflow-y: auto; 
    margin: 0; 
    padding: 0; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background: linear-gradient(325deg, rgb(30, 30, 30) 18%, rgb(30, 30, 30) 55%, rgb(30, 30, 30) 99%); 
.container{
    border-radius: 5px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
}
.banner-image{
    margin-left: -12px;
    margin-bottom: 0px;
    margin-top: 30px;

}
.container1{
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    text-align: left;
}
.spirit{
    text-decoration:solid;
}
    .site-name{
    font-size: 18.3px;
}
.space1, .space2, .space3{
    width: 98%;
    max-width: 500px;
    background-color: rgb(219, 242, 230);
    height: 450px;
    margin-top: -170px;
    border-radius: 14px;
   margin: 0 auto;
    margin-bottom: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:17px;
    padding: 20px;
  
    top: 0;
    left: 0;
    right: 0;
}
.space1 .bt1{
    border-radius: 10px;
    color: #040304;
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: large;
    cursor: pointer;
}
.space2 .bt2{
     border-radius: 10px;
    color: #040304;
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: large;
    cursor: pointer;
}
.spirit1{
    text-align: left;
    padding :12px;
}
.newdis{
    padding-left: 15px;
}

}
.newspace{
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     background: linear-gradient(179deg, rgb(81, 189, 243) 0%, rgb(211, 211, 211) 0%, rgb(255, 255, 255) 28%, rgb(5, 8, 46) 100%);
    border-radius: 14px;
    margin-top: 10px;
    font-size: 25px;
    padding: 10px;
    text-align: left;

}

.space4, .space5, .space6 {
      width: 90%;
      max-width: 500px;
    background-color:  rgb(215, 218, 244);
    height: 430px;
    margin-top: -50px;
    border-radius: 14px;
   margin: 0 auto;
    margin-bottom: 55px;
    font-size: 20px;
    padding: 17px;
}
.itech, .docs, .cmptw {
    padding: 12px;
}
.space4 .service1{
      border-radius: 10px;
    color: #040304;
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: large;
    cursor: pointer;
}
.space5 .service1{
      border-radius: 10px;
    color: #040304;
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: large;
    cursor: pointer;
}
.space6 .service1{
      border-radius: 10px;
    color: #040304;
    background-color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    font-size: large;
    cursor: pointer;
}

.newspace1{
     height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     background: linear-gradient(179deg, rgb(79, 79, 79) 0%, rgb(211, 211, 211) 0%, rgb(255, 255, 255) 28%, rgb(0, 0, 0) 100%);
    border-radius: 14px;
    margin-top: -20px;
    font-size: 19px;
}
.Processus, .questions, .call{
    font-size: 25px;
    padding: 22px;
}

.space7, .space8{
      width: 90%;
      max-width: 500px;
    background-color:  rgb(183, 183, 183);
    height: 570px;
    margin-top: -50px;
    border-radius: 14px;
   margin: 0 auto;
    margin-bottom: 55px;
    padding: 16px;
    text-align: left;
}
.space9{
width: 90%;
      max-width: 500px;
    background-color:  rgb(183, 183, 183);
    height: 270px;
    margin-top: -50px;
    border-radius: 14px;
   margin: 0 auto;
    margin-bottom: 55px;
    padding: 10px;
    text-align: left;
}
.newspace2{
     height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background: linear-gradient(179deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 28%, rgb(0, 0, 0) 100%);
    border-radius: 2px;
    margin-top: -20px;
}
.footer{
    background: #0000;
    color: #ccc;
    padding: 40px 20px;
    display: grid;
    gap: 40px;
}
.footer-section h3{
color: #fff;
margin-bottom: 10px;
font-size: 20px;
}
.footer-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-section ul li{
    margin: 10px 0;
}
.footer-section a {
    color: #bbb;
    text-decoration: none;
    font-size: 16px;
}
.footer-section a:hover {
    color: #fff;
}
.footer-social{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.footer-social  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    padding: 8px;
}
 }

.btn-acceuil { 
    padding: 10px; 
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 300px;
    border-radius: 15px;
    color: rgb(203, 203, 203);
    gap: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 1.5s ease-in-out;

}
    .toggle-btn{
        left: 550px;
        position: sticky;
        width: 35px;
        margin-bottom: 0px;
    }
.Logo{
    margin-left: -60px;
}
.sidebar{
    height: 100%;
}
.scrollable-button {
    max-height: 255px;
    margin-left: 1px;
}
.scrollable-button button {
    width: 140px;
    margin-left: -17px;
}

*{ box-sizing: border-box;
}






.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #040304;
    background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 9px;
    width: 80% 15%;
    padding: 9.5px 69px;
    color: rgb(203, 203, 203);
    margin-left: 0px;
    text-align: left;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slideIn 1.5s ease-in-out;
    position: sticky;
    margin-top: 0px;
    
}

.container1 {
    margin-left: 0px ;
    border-radius: 9px;
    padding: 25.5px;
    width: 80% 15%;
    background: #FFFF;
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgb(155, 190, 170) 100%);
    font-size: 23px;
    height: 448px;
    margin-bottom: -40%;
    animation: slideIn1 3.5s ease-in-out;
    padding-bottom: -190.1%;
    overflow-x: auto;
    text-align: center;
    display: flex;
    position: static;
    z-index: 999;
}
.container1 .scroll {
    overflow-y: auto;
    border-radius: 15px;
}
.ul { 
    text-align: left;
    font-size: 25px;
}
.container2 {
    margin-left: 57.5%;
    border-radius: 18px;
    padding: 247px;
    width: -30%;
    background: #FFFF;
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(159, 192, 201, 1) 100%);
    font-size: large;
    height: 50%;
    animation: slideIn1 3.5s ease-in-out;
    margin-bottom: -42%;
}
    .dropdown-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
    border-radius: 15px;
    width: 20% 5%;
    padding: 9.5px 69px;
    color: rgb(203, 203, 203);
    position: fixed;
    text-align: left;
    font-size: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slideIn 1.5s ease-in-out;
    margin-left: 949px;
    height: 90px;
    margin-top: 0;
    transition: margin-left 0.9s ease;
    top: 80px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: fixed;
        background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgb(0, 0, 0) 100%);
        width: 305px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        z-index: 1;
        margin-left: 950px;
        top: 170px;
        animation: slideIn2 0.9s ease-in-out;
        color: #ffff;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        gap: 222px;
    }
    .dropdown-content button {
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        gap: 122px;
        padding: 5px;
        margin-bottom: 8px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: underline ;
    }
    .dropdown-content a {
        color: rgb(255, 245, 245);
        padding: 10px 14px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a :hover {
        background-color: #f1f1f1;
    }
    .show {
        display: block;
    }

.Logo {
    width: 58px;
    height: 58px;
}
.site-name {
    font-size: 34px;
    font-weight: bold;
}

.banner-image {
    width: 13.5%;
    overflow: visible;
    display: block;
    justify-content: center;
    margin-top: -40px;
    padding: 24px;
    font-weight: bold;
    height: 44%;
    margin-bottom: -20px;
    margin-top: -75px;
   margin-left: -24px;
}
.banner-image img {
    width: 299px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba (0, 0, 0, 0.2);
    animation: slideIn 1.5s ease-in-out;
    display: block;
    object-fit: cover;

}

@keyframes slideIn {
    0% { 
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideIn1 {
    0% {
        opacity: -3;
        transform:translateY(30px) ;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn2 {
    0% {
        opacity: -3;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideIn3 {
    0% {
        opacity: -3;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
