body{ 

    text-align: center;
   
}
.container35 {
    max-width: 800px;
  margin: 60px auto;
 background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgb(155, 190, 170) 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  margin-top: 20px; 
  color: rgb(0, 0, 0);
  height: 320px;
  margin-top: 100px;
 font-size:35px ;
 overflow-y: auto;
}
.left{
  text-align: left;
  margin-top: 50px;
  text-decoration: underline;
   font-size: 20px;
}