body{ 

    text-align: center;
   
}

.left{
  text-align: left;
  margin-top: 50px;
  text-decoration: underline;
   font-size: 20px;
}
@media (max-width: 768px) and (min-width: 0px) {
    .container35 {
  width: 100%;
  margin: 60px auto;
 background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgb(155, 190, 170) 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  margin-top: 0; 
  color: rgb(0, 0, 0);
  height: 520px;
  text-align: left;
 font-size:15px ;
 overflow-y: auto;
 justify-content: flex-start;
 
}
}